<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nz.co.electricbolt.appfigurateflutter_example">
   <application
        android:label="appfigurateflutter_example"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

       <!-- APLLogging is optional. The default value of APLLogging is false.
        You should not enable this to true unless you are having trouble integrating the library.
        It is best practice not to ship an app with this key set to true.-->
       <meta-data
           android:name="APLLogging"
           android:value="true"/>

       <!-- APLConfigurationSubclass is mandatory. -->
       <meta-data
           android:name="APLConfigurationSubclass"
           android:value=".ExampleConfiguration"/>

       <provider
           android:name="nz.co.electricbolt.appfiguratelibrary.InitializationContentProvider"
           android:authorities="${applicationId}.appfiguratelibraryinitprovider"
           android:exported="false"
           android:initOrder="2147483647">
       </provider>

       <!-- The intent filter is mandatory. -->
       <provider
           android:authorities="example"
           android:name="nz.co.electricbolt.appfiguratelibrary.CommandContentProvider"
           android:exported="true">
       </provider>
    </application>
</manifest>
